@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  55% {
    transform: translate(2%); }
  75% {
    transform: translate(-1%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  100% {
    opacity: 1;
    transform: translateX(0); }
  55% {
    transform: translate(-1%); }
  75% {
    transform: translate(2%); }
  0% {
    opacity: 0;
    transform: translate(10rem); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  50% {
    opacity: .5;
    transform: translate(0); }
  50% {
    opacity: .5;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes btnFadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

#aura {
  animation: aura 5s infinite; }

@keyframes aura {
  0% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0.4); }
  50% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0); }
  100% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0.4); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: #30475e;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.btn:link, .btn:visited {
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5); }
  .btn:active::after {
    transform: scale(1);
    opacity: 0.8; }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInFromBottom 1s;
  animation-timing-function: ease-in-out; }

.container .stage .btn__discover--green {
  background-color: #85f118bb;
  color: white;
  font-weight: 300;
  font-size: 1.4rem; }

.container .stage .btn__discover--green::after {
  background-color: #85f118bb; }

.container {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(45deg, rgba(7, 27, 21, 0.384), rgba(251, 255, 0, 0.281)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 80%, 78% 83%, 14% 84%, 0% 82%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 90%, 0 95%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50.1% 97%, 50% 75%, 49.9% 97%, 0 100%); */
  /* clip-path: polygon(
        0 0, 10% 2%, 30% 4%, 50% 5%, 70% 4%, 90% 2%, 100% 0,
        100% 100%,
        90% 98%, 70% 96%, 50% 95%, 30% 96%, 10% 98%, 0 100%); */
  height: 95vh;
  padding: 2.5rem; }
  .container .navbar {
    /* border: 8px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
    .container .navbar__menu-toggle {
      background-color: white;
      height: 3.5rem;
      width: 3.5rem; }
    .container .navbar__logo--image {
      height: 3.5rem; }
  .container .stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 8px solid black; */
    flex-grow: 2; }
    .container .stage .headline {
      /* border: 8px solid black; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      margin-top: 8rem;
      margin-bottom: 1.6rem;
      text-transform: uppercase; }
      .container .stage .headline--main {
        font-weight: 400;
        font-size: 5.8rem;
        letter-spacing: .6em;
        text-indent: .6em;
        animation: moveInFromLeft 2s;
        animation-timing-function: ease-in-out; }
      .container .stage .headline--sub {
        font-weight: 400;
        font-size: 1.9rem;
        letter-spacing: .9em;
        text-indent: .9em;
        animation: moveInFromRight 2s;
        animation-timing-function: ease-in-out; }

/* .wrapper__container {
    border: 8px solid black;
    filter: drop-shadow(
    0 .2rem .2rem rgba(0, 0, 0, .4)
    );
} */
