@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  55% {
    transform: translate(2%); }
  75% {
    transform: translate(-1%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInFromRight {
  100% {
    opacity: 1;
    transform: translateX(0); }
  55% {
    transform: translate(-1%); }
  75% {
    transform: translate(2%); }
  0% {
    opacity: 0;
    transform: translate(10rem); } }

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  50% {
    opacity: .5;
    transform: translate(0); }
  50% {
    opacity: .5;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes btnFadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

#aura {
  animation: aura 5s infinite; }

@keyframes aura {
  0% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0.4); }
  50% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0); }
  100% {
    text-shadow: 0 0.2rem 0.5rem rgba(255, 255, 0, 0.4); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  background-color: honeydew;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 30px; }

html {
  font-size: 62.5%; }

body {
  color: #777;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem;
  text-align: justify;
  text-justify: auto; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.heading-secondary {
  display: inline-block;
  background-image: linear-gradient(90deg, #7ed56f, #28b485);
  color: transparent;
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: .2rem;
  text-indent: .2rem;
  text-transform: uppercase;
  transition: all .2s;
  -webkit-background-clip: text; }
  .heading-secondary:hover {
    background-image: linear-gradient(90deg, #7ed56f, #28b485);
    color: white;
    padding: 1.5rem;
    transform: scaleY(1.1) skewX(2deg) skewY(-4deg);
    text-shadow: 0.4rem 0.4rem 0.2rem rgba(0, 0, 0, 0.3);
    -webkit-background-clip: unset; }

.util-center-text {
  text-align: center; }

.util-margin-top-none {
  margin-top: 0; }

.util-margin-top-xs {
  margin-top: 0.5rem; }

.util-margin-top-s {
  margin-top: 1rem; }

.util-margin-top-m {
  margin-top: 2rem; }

.util-margin-top-l {
  margin-top: 3rem; }

.util-margin-top-xl {
  margin-top: 4rem; }

.util-margin-bottom-xs {
  margin-bottom: 0.5rem; }

.util-margin-bottom-s {
  margin-bottom: 1rem; }

.util-margin-bottom-m {
  margin-bottom: 2rem; }

.util-margin-bottom-l {
  margin-bottom: 4rem; }

.util-margin-bottom-xl {
  margin-bottom: 4rem; }

.util-margin-right-xs {
  margin-right: 0.5rem; }

.util-margin-right-s {
  margin-right: 1rem; }

.util-margin-right-m {
  margin-right: 4rem; }

.util-margin-right-l {
  margin-right: 6rem; }

.util-margin-right-xl {
  margin-right: 8rem; }

.ow-anywhere {
  overflow-wrap: anywhere; }

.ow-break-word {
  overflow-wrap: break-word; }

.word-break {
  word-break: break-all; }

.hyphens {
  hyphens: auto; }

.btn:link, .btn:visited {
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3); }
  .btn:hover::after {
    transform: scale(1.5);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.5); }
  .btn:active::after {
    transform: scale(1);
    opacity: 0.8; }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInFromBottom 1s;
  animation-timing-function: ease-in-out; }

.container .stage .btn__discover--green {
  background-color: rgba(133, 241, 24, 0.7);
  color: white;
  font-weight: 300;
  font-size: 1.4rem; }

.container .stage .btn__discover--green::after {
  background-color: rgba(133, 241, 24, 0.7); }

.btn__discover-more--green {
  font-size: 1.4rem; }
  .btn__discover-more--green:link, .btn__discover-more--green:visited {
    border-bottom: 0.1rem dotted #55c57a;
    border-left: 0.5rem double #85f118;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    padding: .4rem;
    transition: all .4s; }
  .btn__discover-more--green:hover {
    border: none;
    background-image: linear-gradient(to right, #85f118, #55c57a);
    color: honeydew;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    transform: translateX(0.8rem); }
  .btn__discover-more--green:active {
    background-image: linear-gradient(to left, #85f118, #55c57a);
    box-shadow: -0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);
    color: honeydew;
    transform: translateX(1.5rem);
    transition: all .2s; }

.card {
  perspective: 100rem;
  position: relative;
  height: 52rem; }
  .card__side {
    backface-visibility: hidden;
    border-style: solid;
    border-color: honeydew;
    border-width: .2rem;
    box-shadow: -0.2rem -0.2rem 1rem 0 rgba(255, 255, 255, 0.6), 0 0 0.8rem 0 rgba(0, 0, 0, 0), 0.4rem 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.1);
    color: inherit;
    font-size: 4rem;
    overflow: hidden;
    height: 52rem;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to left top, #ffc733, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to left top, #a1e196, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to left top, #5cb1ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-blend-mode: hue;
    background-size: cover;
    height: 23rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 90%); }
    .card__picture--1 {
      background-image: url(../../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: url(../../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: url(../../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 15rem;
    right: 2rem;
    text-align: right;
    width: 60%; }
  .card__heading-span {
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.6), #963300); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), #0c3729); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.6), #1404a0); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: .1rem dotted #bbbbbb; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%); }
  .card__price-box {
    color: white;
    margin-bottom: 8rem;
    text-align: center; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__image {
    width: 60%;
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
    border-radius: .2rem;
    outline-offset: .5rem;
    position: absolute;
    transition: all .2s;
    z-index: 5; }
    .composition__image--1 {
      left: 0;
      top: -2rem; }
    .composition__image--2 {
      right: 2rem;
      top: 3rem; }
    .composition__image--3 {
      left: 15%;
      top: 8rem; }
    .composition__image:hover {
      outline: 1.5rem solid rgba(133, 241, 24, 0.6);
      transform: scale(1.2) translateY(2rem);
      z-index: 6; }
  .composition:hover .composition__image:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(240, 255, 240, 0.8);
  font-size: 1.4rem;
  padding: 3rem 2rem;
  text-align: center;
  transition: all .3s;
  overflow: hidden; }
  .feature-box a {
    color: inherit;
    font-size: inherit;
    text-decoration: none; }
  .feature-box__layout--flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 35vh; }
  .feature-box__icon {
    color: transparent;
    font-size: 4rem;
    background-image: linear-gradient(to right, #85f118, #30475e);
    padding: .2rem;
    -webkit-background-clip: text; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.05); }

.story {
  background-color: honeydew;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  font-size: 1.6rem;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  width: 70%; }
  .story__avatar {
    transition: all .5s ease-out; }
    .story__avatar--jane {
      height: 100%;
      transform: translateX(-3.7rem); }
    .story__avatar--john {
      height: 150%;
      transform: translate(-6rem, -5rem) scale(0.8); }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    position: relative;
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg); }
  .story__text {
    height: 15rem;
    transform: skewX(12deg); }
    .story__text .story__author {
      color: #55c57a;
      padding: 2rem 20% 1rem 0;
      text-align: right; }
  .story:hover .story__avatar--jane {
    transform: translateX(-3.7rem) scale(1.5); }
  .story:hover .story__avatar--john {
    transform: translate(-6rem, -7rem) scale(1.3); }

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  background-image: linear-gradient(225deg, rgba(251, 255, 0, 0.05), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 90vh);
  /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 90% 80%, 78% 83%, 14% 84%, 0% 82%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 90%, 0 95%); */
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 50.1% 97%, 50% 75%, 49.9% 97%, 0 100%); */
  /* clip-path: polygon(
        0 0, 10% 2%, 30% 4%, 50% 5%, 70% 4%, 90% 2%, 100% 0,
        100% 100%,
        90% 98%, 70% 96%, 50% 95%, 30% 96%, 10% 98%, 0 100%); */
  height: 95vh;
  padding: 2.5rem; }
  .container .navbar {
    /* border: 8px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-grow: 0.5; }
    .container .navbar__menu-toggle {
      background-color: white;
      height: 3.5rem;
      width: 3.5rem; }
    .container .navbar__logo--image {
      height: 3.5rem; }
  .container .stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 8px solid black; */
    flex-grow: 2; }
    .container .stage .headline {
      /* border: 8px solid black; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      margin-top: 8rem;
      margin-bottom: 1.6rem;
      text-transform: uppercase; }
      .container .stage .headline--main {
        font-weight: 400;
        font-size: 5.8rem;
        letter-spacing: .6em;
        text-indent: .6em;
        animation: moveInFromLeft 2s;
        animation-timing-function: ease-in-out; }
      .container .stage .headline--sub {
        font-weight: 400;
        font-size: 1.9rem;
        letter-spacing: .9em;
        text-indent: .9em;
        animation: moveInFromRight 2s;
        animation-timing-function: ease-in-out; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc( ( 100% - 6rem )/2); }
  .row .col-1-of-3 {
    width: calc( ( 100% - ( 6rem )*2 )/3); }
  .row .col-2-of-3 {
    width: calc( ( ( ( 100% - ( 6rem )*2 )/3 )*2 ) + 6rem); }
  .row .col-1-of-4 {
    width: calc( ( 100% - ( 6rem )*3 )/4); }
  .row .col-2-of-4 {
    width: calc( ( ( ( 100% - ( 6rem )*3 )/4 )*2 ) + 6rem); }
  .row .col-3-of-4 {
    width: calc( ( ( ( 100% - ( 6rem )*3 )/4 )*3 ) + (6rem * 2 )); }

.section__about {
  background-color: #f0f0f0;
  padding: 25rem 3rem;
  margin-top: -15vh; }

.section__features {
  background-image: linear-gradient(225deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(../../img/nat-4.jpg);
  background-size: cover;
  padding: 20rem 0; }

.section__packages {
  background-color: #f0f0f0;
  padding: 15rem 3rem 5rem 3rem; }

.section__stories {
  padding: 15rem 0;
  background-color: #f0f0f0; }
