// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary: #30475e;

// BUTTONS
$color-button-discover-green: #85f118;

// GRID
$grid-background-color: #eeeeee;
$grid-max-width: 114rem;
$grid-gap-row: 6rem;
$grid-gap-column: 8rem;
