*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: honeydew;
    box-sizing: border-box;
    margin: 30px;
}

html {
    // defining the root element for font size measurement (rem unit)
    font-size: 62.5%;
}