@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
    color: #777;
    font-family: "Lato", sans-serif;
    font-weight: 300;    
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    text-align: justify;
    text-justify: auto;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

.heading-secondary {
    display: inline-block;

    background-image: 
        linear-gradient(
            90deg,
            $color-primary-light,
            $color-primary-dark
        );
    color: transparent;
    font-weight: 700;
    font-size: 3.5rem;
    letter-spacing: .2rem;
    text-indent: .2rem;
    text-transform: uppercase;
    transition: all .2s;

    -webkit-background-clip: text;

    &:hover {
        background-image: 
        linear-gradient(
            90deg,
            $color-primary-light,
            $color-primary-dark
        );
        color: white;
        padding: 1.5rem;
        transform: scaleY(1.1) skewX(2deg) skewY(-4deg);
        text-shadow: .4rem .4rem .2rem rgba(0, 0, 0, .3);

        -webkit-background-clip: unset;
    }
}